<button id="off-canvas-menu-toggle-button" class="menu-icon off-canvas-menu-toggle-button" type="button" data-toggle="off-canvas-menu"></button>

<div class="off-canvas-author-section text-center">
  <img class="off-canvas-author-section-image" src="assets/img/foto_luis.jpg">
  <p class="off-canvas-author-section-title">El Observador Pacífico</p>
</div>

<!-- Menu -->
<ul class="vertical menu off-canvas-options" data-accordion-menu>
  <li class="off-canvas-option"><a class="row align-justify" href="">
    <span class="columns">Últimas entradas</span>
    <i class="columns shrink align-right fa fa-caret-right" aria-hidden="true"></i>
  </a></li>
  <li class="off-canvas-option">
    <a class="row" href="">Categorías</a>
    <ul class="menu vertical nested">
      <li><a class="row align-justify" href="#">
        <span class="columns">Categoría 1</span>
        <i class="columns shrink fa fa-caret-right" aria-hidden="true"></i>
      </a></li>
      <li><a class="row align-justify" href="#">
        <span class="columns">Categoría 2</span>
        <i class="columns shrink fa fa-caret-right" aria-hidden="true"></i>
      </a></li>
      <li><a class="row align-justify" href="#">
        <span class="columns">Categoría 3</span>
        <i class="columns shrink fa fa-caret-right" aria-hidden="true"></i>
      </a></li>
      <li><a class="row align-justify" href="#">
        <span class="columns">Categoría 4</span>
        <i class="columns shrink fa fa-caret-right" aria-hidden="true"></i>
      </a></li>
    </ul>
  </li>
  <li class="off-canvas-option"><a class="row align-justify" href="">
    <span class="columns">¿El observador pacífico?</span>
    <i class="columns shrink fa fa-caret-right" aria-hidden="true"></i>
  </a></li>
  <li class="off-canvas-option"><a class="row align-justify" href="">
    <span class="columns">Contáctame</span>
    <i class="columns shrink fa fa-caret-right" aria-hidden="true"></i>
  </a></li>
</ul>

<div class="off-canvas-social-icons row align-justify">
  <a href=""><i class="columns shrink fa fa-twitter" aria-hidden="true"></i></a>
  <a href="https://www.facebook.com/elobservadorpacifico" target="_blank"><i class="columns shrink fa fa-facebook" aria-hidden="true"></i></a>
  <a href="https://www.youtube.com/channel/UCv-1ruX3LGR4xB_2FdKKzng" target="_blank"><i class="columns shrink fa fa-youtube" aria-hidden="true"></i></a>
</div>
