.off-canvas{
  background-color: #0a0a0a;
  color: white;
  padding: 4% 1%;

  &-menu-toggle-button{
    position: absolute;
    top: 1%;
    right: 5%;
  }

  &-author-section{
    padding-bottom: 20%;
    border-bottom: 1px solid grey;
    &-image{
      border-radius: 50%;
      width: 80%;
      margin-bottom: 15%;
    }
  }

  &-options{
    padding: 20% 0;
    border-bottom: 1px solid grey;
  }

  &-option{
    .column{
      padding: 0;
    }
  }

  &-social-icons{
    padding-top: 20%;
    font-size: 1.5rem;
  }
}

@media print, screen and (min-width: 64em){
  .off-canvas-content
    transition: margin .5s ease;
    &-toggle-button{
      display: none;
    }
  }

  .position-left.reveal-for-large ~ .off-canvas-content.menu-hidden {
    margin-left: 0;
  }
}
