.off-canvas-content {
  height: 100%;
  .content {
    &-section {
      background-color: #EBEBEB;
      height: 96%;
      overflow-y: auto;
      padding: 20px 40px;

      .no-entries-text {
        width: 100%;
        text-align: center;
        align-self: center;
      }
    }
  }
}
