<div class="about-me">
  <p>
    Hola amig@,
    Mi nombre es Luis y te doy la bienvenida a este canal El Observador Pacífico.
  </p>
  <p>
    Seguramente, al igual que tu aspiramos a ser un Observad@ Pacífic@. Esto no es un título honorífico ni un rango que otorgue autoridad ni mucho menos.
    Se trata de la absoluta convicción de que queremos vivir conforme al deseo de traer felicidad y amor aquí a la Tierra junto con toda la disposición a evolucionar desde nuestro fuero interno.
  </p>
  <p>
    Soy un chico normal que ha tenido una vida normal. A una edad temprana comencé a tener experiencias de apertura de conciencia que junto con lo que andaba viviendo por entonces me catapultó a
    adentrarme en el viaje del autoconocimiento, la búsqueda de respuestas existenciales y ante todo un estado de bienestar interno.
  </p>
  <p>
    Estudié durante unos años ingeniería por lo que junto con mi personalidad y forma de ser tiendo a pensar de forma práctica. Como toda ingeniería que está basada en la objetividad científica,
    amo el hecho de observar, el cual es el primer principio en toda ciencia y estudio. Puesto que vivimos en un mundo perceptible a través del estado de conciencia en el que nos encontramos,
    al igual que tu amigo/a, deseo poder observar y vivir desde la Paz y el Amor que nace del corazón.
  </p>
  <p>
    Mi deseo es que aspiramos a la Paz eterna dentro y fuera de nosotros, y que a través de una ciencia interna basada en la experiencia, lleguemos a dilucidar y maravillarnos con los tesoros
    que moran es esta Creación de la que somos participes como actores de la Vida.
  </p>
  <p>
    Únicamente quiero pedirte que en todo momento que recibas lo que expreso y comunico lo pongas bajo severo y sano escepticismo y así puedas con ello discernir a través de tu experiencia y sentir.
    Ante todo estamos aquí para autorealizarnos en nuestro Maestría Interior.
  </p>
  <p>
    Se bienvenid@.
    Muchísimas gracias por vuestra colaboración, ánimos y Amor.
  </p>
  <div class="about-me-img text-center"><img src="assets/img/foto_about_me.jpg" alt=""></div>
</div>
