<div id="off-canvas-content-entries-section" class="off-canvas-content-entries-section row">
    <!-- <div class="off-canvas-content-entries-column column large-3">
      <div class="off-canvas-content-entries-column-box text-center">
        <img class="off-canvas-content-entries-column-box-img" src="assets/img/foto_luis.jpg" alt="">
        <span class="off-canvas-content-entries-column-box-title">TITLE</span>
      </div>
    </div>

    <div class="off-canvas-content-entries-column column large-3">
      <div class="off-canvas-content-entries-column-box text-center">
        <img class="off-canvas-content-entries-column-box-img" src="assets/img/foto_luis.jpg" alt="">
        <span class="off-canvas-content-entries-column-box-title">TITLE</span>
      </div>
    </div>

    <div class="off-canvas-content-entries-column column large-3">
      <div class="off-canvas-content-entries-column-box text-center">
        <img class="off-canvas-content-entries-column-box-img" src="assets/img/foto_luis.jpg" alt="">
        <span class="off-canvas-content-entries-column-box-title">TITLE</span>
      </div>
    </div>

    <div class="off-canvas-content-entries-column column large-3">
      <div class="off-canvas-content-entries-column-box text-center">
        <img class="off-canvas-content-entries-column-box-img" src="assets/img/foto_luis.jpg" alt="">
        <span class="off-canvas-content-entries-column-box-title">TITLE</span>
      </div>
    </div>

    <div class="off-canvas-content-entries-column column large-3">
      <div class="off-canvas-content-entries-column-box text-center">
        <img class="off-canvas-content-entries-column-box-img" src="assets/img/foto_luis.jpg" alt="">
        <span class="off-canvas-content-entries-column-box-title">TITLE</span>
      </div>
    </div>

    <div class="off-canvas-content-entries-column column large-3">
      <div class="off-canvas-content-entries-column-box text-center">
        <img class="off-canvas-content-entries-column-box-img" src="assets/img/foto_luis.jpg" alt="">
        <span class="off-canvas-content-entries-column-box-title">TITLE</span>
      </div>
    </div>

    <div class="off-canvas-content-entries-column column large-3">
      <div class="off-canvas-content-entries-column-box text-center">
        <img class="off-canvas-content-entries-column-box-img" src="assets/img/foto_luis.jpg" alt="">
        <span class="off-canvas-content-entries-column-box-title">TITLE</span>
      </div>
    </div>

    <div class="off-canvas-content-entries-column column large-3">
      <div class="off-canvas-content-entries-column-box text-center">
        <img class="off-canvas-content-entries-column-box-img" src="assets/img/foto_luis.jpg" alt="">
        <span class="off-canvas-content-entries-column-box-title">TITLE</span>
      </div>
    </div>

    <div class="off-canvas-content-entries-column column large-3">
      <div class="off-canvas-content-entries-column-box text-center">
        <img class="off-canvas-content-entries-column-box-img" src="assets/img/foto_luis.jpg" alt="">
        <span class="off-canvas-content-entries-column-box-title">TITLE</span>
      </div>
    </div>

    <div class="off-canvas-content-entries-column column large-3">
      <div class="off-canvas-content-entries-column-box text-center">
        <img class="off-canvas-content-entries-column-box-img" src="assets/img/foto_luis.jpg" alt="">
        <span class="off-canvas-content-entries-column-box-title">TITLE</span>
      </div>
    </div>

    <div class="off-canvas-content-entries-column column large-3">
      <div class="off-canvas-content-entries-column-box text-center">
        <img class="off-canvas-content-entries-column-box-img" src="assets/img/foto_luis.jpg" alt="">
        <span class="off-canvas-content-entries-column-box-title">TITLE</span>
      </div>
    </div>

    <div class="off-canvas-content-entries-column column large-3">
      <div class="off-canvas-content-entries-column-box text-center">
        <img class="off-canvas-content-entries-column-box-img" src="assets/img/foto_luis.jpg" alt="">
        <span class="off-canvas-content-entries-column-box-title">TITLE</span>
      </div>
    </div> -->
</div>
