.login-wrapper {
  margin-top: 15%;

  .login {
    &-text {
      text-align: center;
    }

    &-button {
      &-google {
        background-color: #d62d20;
        box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.75);
        
        > i {
          float: left;
        }
      }
    }
  }
}
