<button id="off-canvas-menu-toggle-button" class="menu-icon off-canvas-menu-toggle-button" type="button" data-toggle="off-canvas-menu"></button>

<div class="off-canvas-author-section text-center">
  <img class="off-canvas-author-section-image" src="assets/img/foto_luis.jpg">
  <p class="off-canvas-author-section-title">OBSERVANDO PACÍFICAMENTE</p>
</div>

<!-- Menu -->
<div id="off-canvas-options-wrapper" class="off-canvas-options-wrapper">
  <ul id="off-canvas-options" class="vertical menu off-canvas-options" data-accordion-menu>
    {{> menu-options}}
  </ul>
</div>

<div class="off-canvas-social-icons row align-justify">
  <a href="https://www.instagram.com/observandopacificamente/" target="_blank"><i class="columns shrink fa fa-instagram" aria-hidden="true"></i></a>
  <a href="https://www.facebook.com/ObservandoPacificamente/" target="_blank"><i class="columns shrink fa fa-facebook" aria-hidden="true"></i></a>
  <a href="https://www.youtube.com/channel/UCv-1ruX3LGR4xB_2FdKKzng" target="_blank"><i class="columns shrink fa fa-youtube" aria-hidden="true"></i></a>
</div>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="E5WTTKE4JC3Q8">
  <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal, la forma rápida y segura de pagar en Internet.">
  <img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1">
</form>
