<li class="off-canvas-option active"><a class="row align-justify" href="/ultimas-entradas">
  <span class="columns">Últimas entradas</span>
  <i class="columns shrink align-right fa fa-caret-right" aria-hidden="true"></i>
</a></li>
<li class="off-canvas-option"><a class="row" href="">Categorías</a>
  <ul id="categories-menu" class="menu vertical nested"></ul>
</li>
<li class="off-canvas-option"><a class="row align-justify" href="/sobre-mi">
  <span class="columns">Sobre mí</span>
  <i class="columns shrink fa fa-caret-right" aria-hidden="true"></i>
</a></li>
